// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Mini devices (landscape phones, 576px and up)
@media (max-width: 575.98px) {
    .banner{
        padding: 9rem 0;
        .content{
         .text-banner{
             font-size: 2rem;
             background-color: $--bg-clean-green;
             padding: 4px 0;
             }
         }
     }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .banner{
        padding: 12rem 0;
        .content{
         .text-banner{
             font-size: 2rem;
             background-color: $--bg-clean-green;
             padding: 4px 0;
             }
         }
     }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .banner{
        padding: 15rem 0;
        .content{
            .text-banner{
                font-size: 2.475rem;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .banner{
        padding: 8rem 0;
        .content{
            .text-banner{
                font-size: 2.775rem;
            }
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .banner{
        padding: 10rem 0;
        .content{
            .text-banner{
                font-size: 3.375rem;
                background-color: transparent;
            }
        }
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    .banner{
        padding: 15rem 0;
        .content{
            .text-banner{
                font-size: 4.375rem;
                background-color: transparent;
            }
        }
    }
}


