// Mini devices (landscape phones, 576px and up)
@media (max-width: 575.98px) {
     .logo{
        max-width: 150px;
    }
    main{
        margin-top: 74px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .logo{
        max-width: 150px;
    }
    main{
    margin-top: 82px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .banner-bg{
        background-image: url(../image/banner-bg.png), url(../image/banner-bg-parrents.png);
        background-position: center, right;
        background-size: contain ,cover;
    }
    .form-control{
        min-width: 200px!important;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .banner-bg{
        min-height: 600px;
        background-color: #F1EFF0;
        background-position: right, right;
      }
      .banner-content{
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
      }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .banner-bg{
        min-height: 70vh;
      }
      .banner-content{
        .text-banner{
            font-size: 3.375rem!important;
        }
      }
      .about-us{
        padding: 7rem 0 !important;
      }
    main{
    margin-top: 114px;
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    .banner-bg{
        min-height: calc(100vh - 114px);
      }
      .banner-content{
        padding-left: 1%!important;
        .text-banner{
            font-size: 4.375rem!important;
        }
      }
}

// >-Large devices (larger desktops, 1400px and up)
@media (min-width: 1600px) {
      .banner-content{
        padding-left: 12%!important;
      }
}


