$--bg-clean-green: #eff6f1;
$--bg-dark-blue: #274c5b;
$--stars-color: #ffb84c;
$--yellow-color: #efd372;
$--yellowtail-text: #7eb693;
$--backgroud-grey-figma: #c4c4c4;
$--bg-white: #ffffff;

.text-dark-blue {
  color: $--bg-dark-blue !important;
}

.bg-clean-green {
  background-color: $--bg-clean-green !important;
}

.bg-dark-blue {
  background-color: $--bg-dark-blue !important;
}

.font-roboto {
  font-family: "Roboto", sans-serif !important;
}

i {
  color: $--bg-dark-blue;
}

.mt-spaces {
  margin-top: 10rem;
}

.products-name {
  color: $--bg-dark-blue;
}

.yellowtail-title {
  font-family: "Yellowtail", cursive;
  color: $--yellowtail-text;
  font-size: 36px;
}

.text-shadow {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.bg-shadow {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.background-image-figma {
  background: $--backgroud-grey-figma;
}

.bg-white {
  background-color: $--bg-white;
}

.text-yellow {
  color: $--yellow-color;
}

.bg-yellow {
  background-color: $--yellow-color !important;
}
