@import "veriables";

.product-icons i {
  color: $--stars-color;
}

html {
  box-sizing: border-box;
}


form {
  padding: 0 !important;
}

ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none
}

.add-packet {
  border: 1px solid #e0e0e0;
  border-radius: 30px;
  padding: 7px;
}

.banner {}

.content {
  position: absolute;
  width: 530px;
  height: 303px;
  top: 36%;
  left: 15%;
}

@import "responsive";